@import url(./assets/stylesheets/fonts.css);

/* Base Styles */

:root {
    --font-stack:
        system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

    --background-color: #f1f5ff;

    --primary-color: #004bc2;
    --text-dark: #00050a;

    --gold-color: #f5c518;
    --cancel-red: #d70000;
    --undo-orange: #ee9000;
    --start-green: #23c013;

    --primary-darker: #003e9f;
    --background-darker: #8f95a5;
}

body {
    font-family: Nunito;
    color: var(--primary-color);

    background-color: var(--background-color);
    height: 100svh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-help {
    position: fixed;
    top: 1.25%;
    left: 1.45%;
    transform: translate(-50%);
    z-index: 2;
    background-color: var(--primary-color);
    border-radius: 0.3rem;
    padding: 0.275rem;
    cursor: pointer;
    transition: 0.3s;
}

.get-help:hover {
    background-color: var(--text-dark);
}

.get-help:active {
    background-color: var(--primary-color);
}

.help-icon {
    cursor: pointer;
}

/* Base Styles */

/* ------------------------------------------------------------------------------------------------- */

/* Title Styles */

.page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    display: flex;
    align-items: flex-end;
    margin-top: 2rem;
}

.page-title > span {
    font-weight: 700;
    /* text-shadow: 0px 2px 3px #001c48; */
    font-size: 5rem;
    text-shadow:
        0 0.005em 0 rgba(0, 0, 0, 0.2),
        0 0.005em 0 currentColor,
        0 0.01em 0 rgba(0, 0, 0, 0.25),
        0 0.01em 0 currentColor,
        0 0.015em 0 rgba(0, 0, 0, 0.3),
        0 0.015em 0 currentColor,
        0 0.02em 0 rgba(0, 0, 0, 0.35),
        0 0.02em 0 currentColor,
        0 0.025em 0 rgba(0, 0, 0, 0.4),
        0 0.025em 0 currentColor,
        0 0.03em 0.005em rgba(0, 0, 0, 0.1),
        0 0 0.025em rgba(0, 0, 0, 0.1),
        0 0.005em 0.015em rgba(0, 0, 0, 0.3),
        0 0.015em 0.025em rgba(0, 0, 0, 0.2),
        0 0.025em 0.05em rgba(0, 0, 0, 0.25),
        0 0.05em 0.05em rgba(0, 0, 0, 0.2),
        0 0.1em 0.1em rgba(0, 0, 0, 0.15);
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 1.05s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 1.05s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.page-icon {
    visibility: hidden;
    display: inline-block;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-bottom 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-15rem);
        transform: translateY(-15rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-15rem);
        transform: translateY(-15rem);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.page-description {
    color: var(--text-dark);
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 0.35rem;
}

.page-description > h1 {
    font-weight: 400;
    font-size: 1.35rem;
}

.text-focus-in {
    -webkit-animation: text-focus-in 1.05s cubic-bezier(0.55, 0.085, 0.68, 0.53)
        both;
    animation: text-focus-in 1.05s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.page-description > a {
    text-decoration: none;
    font-size: 1.35rem;
    color: inherit;
    font-weight: 400;
    transition: 0.2s;
    position: relative;
}

.github-link::before {
    content: '';
    font-weight: 700;
    text-align: center;
    color: var(--background-color);
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background-color: var(--primary-color);
    transition: 0.4s;
}

.github-link:hover::before {
    background: url(./assets/icons/GitHub-mark-white.svg), var(--primary-color);
    background-position: center, center;
    background-repeat: no-repeat;
    height: 100%;
}

/* Title Styles */

/* ------------------------------------------------------------------------------------------------- */

/* Main Styles */

.page-main {
    width: 100%;
    flex-grow: 1;
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.fade-in-fwd {
    -webkit-animation: fade-in-fwd 0.9s cubic-bezier(0.445, 0.05, 0.55, 0.95)
        both;
    animation: fade-in-fwd 0.9s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

.fade-out-bck {
    -webkit-animation: fade-out-bck 0.9s cubic-bezier(0.445, 0.05, 0.55, 0.95)
        both;
    animation: fade-out-bck 0.9s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

@-webkit-keyframes fade-out-bck {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
}

@keyframes fade-out-bck {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }
}

.fade-out-up {
    animation: fade-out-up 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

@-webkit-keyframes fade-out-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
        opacity: 0;
    }
}

@keyframes fade-out-up {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
        opacity: 0;
    }
}

.fade-in-down {
    animation: fade-in-down 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
}

@-webkit-keyframes fade-in-down {
    0% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-down {
    0% {
        -webkit-transform: translateY(-80px);
        transform: translateY(-80px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/* ------------------------------------------------------------------------------------------------- */

/* Intro Styles */

.intro-cont {
    margin-top: 4.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.demo-description {
    color: var(--text-dark);
    text-align: center;
}

.description-header {
    font-weight: 500;
    font-size: 1.4rem;
}

.description-text {
    font-size: 1.15rem;
}

.start-demo,
.demo-control,
.help-confirm {
    outline: none;
    padding: 1rem 2rem;
    border-radius: 0.625rem;
    border: 0;
    background-color: var(--primary-color);
    letter-spacing: 1.5px;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-shadow: rgb(0, 48, 125) 0px 10px 0px 0px;
    color: var(--background-color);
    cursor: pointer;
}

.start-demo:hover,
.demo-control:hover,
.help-confirm:hover {
    box-shadow: rgb(0, 48, 125) 0px 7px 0px 0px;
}

.start-demo:active,
.demo-control:active:not(:disabled),
.help-confirm:active {
    background-color: #003fa4;
    box-shadow: rgb(0, 75, 194) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
}

/* Intro Styles */

/* ------------------------------------------------------------------------------------------------- */

/* Board Styles */

.demo-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls-cont {
    width: 65%;
    display: flex;
    justify-content: space-around;
    gap: 4rem;
}

.controls-cont > button {
    max-width: 22.5ch;
    flex: 1;
}

.demo-control,
.reset-demo,
.help-confirm,
.cancel-placement,
.missing-placement {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
}

.demo-control:disabled {
    background-color: #003fa4;
    box-shadow: rgb(0, 75, 194) 0px 0px 0px 0px;
    cursor: not-allowed;
}

.simulate-button {
    background-color: var(--start-green);
    box-shadow: rgb(22, 141, 10) 0px 10px 0px 0px;
}

.cancel-placement {
    background-color: var(--undo-orange);
    box-shadow: rgb(184, 111, 0) 0px 10px 0px 0px;
}

.reset-demo,
.missing-placement {
    background-color: var(--cancel-red);
    box-shadow: rgb(120, 0, 0) 0px 10px 0px 0px;
}

.simulate-button:hover {
    box-shadow: rgb(22, 141, 10) 0px 7px 0px 0px;
}

.cancel-placement:hover {
    box-shadow: rgb(184, 111, 0) 0px 7px 0px 0px;
}

.reset-demo:hover,
.missing-placement:hover {
    box-shadow: rgb(120, 0, 0) 0px 7px 0px 0px;
}

.simulate-button:active {
    background-color: #1baa0d;
    box-shadow: rgb(22, 141, 10) 0px 0px 0px 0px;
}

.cancel-placement:active {
    background-color: #d48000;
    box-shadow: rgb(184, 111, 0) 0px 0px 0px 0px;
}

.reset-demo:active,
.missing-placement:active {
    background-color: #b60000;
    box-shadow: var(--cancel-red) 0px 0px 0px 0px;
}

.simulate-button:disabled {
    background-color: #1baa0d;
    box-shadow: rgb(22, 141, 10) 0px 0px 0px 0px;
    cursor: not-allowed;
}

.shake-bottom {
    -webkit-animation: shake-bottom 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
    animation: shake-bottom 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake-bottom {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    10% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    80% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    90% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}

@keyframes shake-bottom {
    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    }
    10% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
    20%,
    40%,
    60% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }
    30%,
    50%,
    70% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
    80% {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }
    90% {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}

.board-cont {
    margin-top: 5rem;
    margin-bottom: 3rem;
    perspective: 100rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);

    width: 30rem;
    aspect-ratio: 1 / 1;
    border: 6px outset var(--primary-color);
}

.board.rotated {
    transform: rotateX(42.5deg);
    box-shadow: 2px 16px 16px #777777;
}

.load-board {
    animation: load-board 1.75s steps(200, end);
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes load-board {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(42.5deg);
        box-shadow: 2px 16px 16px #777777;
    }
}

.board > * {
    display: grid;
    place-items: center;
}

.board.board.placing-knight > *,
.board.board.placing-castle > * {
    cursor: pointer;
    transition: 0.3s;
    transform-origin: center;
}

.board.placing-knight > .blue:not(.knight-placed, .castle-placed):hover {
    background: url(./assets/icons/knight.svg), var(--primary-darker);
    background-position: center, center;
    background-repeat: no-repeat;
    box-shadow: inset 2px 3px 10px 2px #00294e;
}

.board.placing-knight > .white:not(.knight-placed, .castle-placed):hover {
    background: url(./assets/icons/knight.svg), var(--background-darker);
    background-position: center, center;
    background-repeat: no-repeat;
    box-shadow: inset 2px 3px 10px 2px #505050;
}

.board.placing-castle > .blue:not(.knight-placed, .castle-placed):hover {
    background: url(./assets/icons/castle.svg), var(--primary-darker);
    background-position: center, center;
    background-repeat: no-repeat;
    box-shadow: inset 2px 3px 10px 2px #00294e;
}

.board.placing-castle > .white:not(.knight-placed, .castle-placed):hover {
    background: url(./assets/icons/castle.svg), var(--background-darker);
    background-position: center, center;
    background-repeat: no-repeat;
    box-shadow: inset 2px 3px 10px 2px #505050;
}

.board.placing-knight > .white.castle-placed:hover,
.board.placing-knight:has(.white.castle-placed:hover) > .white.knight-placed,
.board.placing-castle > .white.knight-placed:hover,
.board.placing-castle:has(.white.knight-placed:hover) > .white.castle-placed,
.board.placing-knight:has(.blue.castle-placed:hover) > .white.knight-placed,
.board.placing-castle:has(.blue.knight-placed:hover) > .white.castle-placed {
    background: url(./assets/icons/switch.svg), var(--background-color);
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
}

.board.placing-knight > .blue.castle-placed:hover,
.board.placing-knight:has(.blue.castle-placed:hover) > .blue.knight-placed,
.board.placing-castle > .blue.knight-placed:hover,
.board.placing-castle:has(.blue.knight-placed:hover) > .blue.castle-placed,
.board.placing-knight:has(.white.castle-placed:hover) > .blue.knight-placed,
.board.placing-castle:has(.white.knight-placed:hover) > .blue.castle-placed {
    background: url(./assets/icons/switch.svg), var(--primary-color);
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
}

.white {
    background: var(--background-color);

    box-shadow: inset 2px 3px 10px 2px #909090;
}

.blue {
    background: var(--primary-color);
    box-shadow: inset 2px 3px 10px 2px #00315d;
}

.step-indicator {
    font-size: 2rem;
    font-weight: 700;
    color: var(--gold-color);
}

.row-start,
.last-row-square,
.row-end,
.first-row-square {
    position: relative;
}

.row-start:nth-child(16n + 1)::before,
.row-start:nth-child(16n + 9)::before {
    font-size: 1.25rem;
    color: var(--primary-color);
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: -50%;
    transform: translate(-50%, -50%);
}

.row-end:nth-child(16n + 8)::before,
.row-end:nth-child(16n + 16)::before {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
    position: absolute;
    top: 20%;
    right: -50%;
    transform: translate(-50%, -50%);
    transform: rotate(180deg);
}

.row-start:nth-child(1)::before,
.row-end:nth-child(8)::before {
    content: '8';
}

.row-start:nth-child(9)::before,
.row-end:nth-child(16)::before {
    content: '7';
}

.row-start:nth-child(17)::before,
.row-end:nth-child(24)::before {
    content: '6';
}

.row-start:nth-child(25)::before,
.row-end:nth-child(32)::before {
    content: '5';
}

.row-start:nth-child(33)::before,
.row-end:nth-child(40)::before {
    content: '4';
}

.row-start:nth-child(41)::before,
.row-end:nth-child(48)::before {
    content: '3';
}

.row-start:nth-child(49)::before,
.row-end:nth-child(56)::before {
    content: '2';
}

.row-start:nth-child(57)::before,
.row-end:nth-child(64)::before {
    content: '1';
}

.last-row-square::after {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first-row-square::after {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-color);
    position: absolute;
    top: -75%;
    right: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(180deg);
    transform: scaleY(-1);
}

.first-row-square:nth-child(1)::after,
.last-row-square:nth-child(57)::after {
    content: 'A';
}

.first-row-square:nth-child(2)::after,
.last-row-square:nth-child(58)::after {
    content: 'B';
}

.first-row-square:nth-child(3)::after,
.last-row-square:nth-child(59)::after {
    content: 'C';
}

.first-row-square:nth-child(4)::after,
.last-row-square:nth-child(60)::after {
    content: 'D';
}

.first-row-square:nth-child(5)::after,
.last-row-square:nth-child(61)::after {
    content: 'E';
}

.first-row-square:nth-child(6)::after,
.last-row-square:nth-child(62)::after {
    content: 'F';
}

.first-row-square:nth-child(7)::after,
.last-row-square:nth-child(63)::after {
    content: 'G';
}

.first-row-square:nth-child(8)::after,
.last-row-square:nth-child(64)::after {
    content: 'H';
}

/* Board Styles */

/* ------------------------------------------------------------------------------------------------- */

/* Main Styles */

/* ------------------------------------------------------------------------------------------------- */

/* Modal Styles */

.modal {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.15);
    min-width: 100%;
    min-height: 100%;
    top: 0%;
    z-index: 1;
}

.modal:focus {
    outline: none;
}

.modal-content {
    padding: 1.5rem;
    border-radius: 0.7rem;

    background: var(--background-color);

    position: fixed;
    z-index: 2;
    top: 20%;
    left: 50%;
    transform: translate(-50%);

    max-height: 65%;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.slide-in-top {
    -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        both;
    animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translate(-50%, -1000px);
        transform: translate(-50%, -1000px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
    }
}
@keyframes slide-in-top {
    0% {
        transform: translate(-50%, -1000px);
        transform: translate(-50%, -1000px);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

.slide-out-top {
    -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
        both;
    animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes slide-out-top {
    0% {
        transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -1000px);
        transform: translate(-50%, -1000px);
        opacity: 0;
    }
}
@keyframes slide-out-top {
    0% {
        transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -1000px);
        transform: translate(-50%, -1000px);
        opacity: 0;
    }
}

.help-title {
    text-align: center;
    margin-bottom: 0.5rem;
}

.help-text {
    max-width: 65ch;
    color: var(--text-dark);
    line-height: 1.75;
}

.help-text.important-text {
    font-weight: 600;
}

.help-text:has(.inline-icon) {
    text-align: center;
}

.help-confirm {
    margin-top: 0.5rem;
    align-self: center;
}

.inline-icon {
    display: inline-block;
    vertical-align: baseline;
}

/* Modal Styles */

/* ------------------------------------------------------------------------------------------------- */

.hide {
    display: none;
}
